<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="database" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\CE_120_SEM6\SOC\PROJECT\SOC_WCF\FREELANCESERVICE\APP_DATA\DATABASE1.MDF;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
		<services>
    
  </services>
  <bindings>
			<wsHttpBinding>
				<binding name="wsHttpBinding_IService1" />
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address=""
       binding="wsHttpBinding"
       contract="FreelanceService.Services.IUserService"
       bindingConfiguration="wsHttpBinding_IService1" />
		</client>

		<behaviors>
    <endpointBehaviors>
      <behavior name="FreelanceService.Services.Service1AspNetAjaxBehavior">
        <enableWebScript />
      </behavior>
    </endpointBehaviors>
    <serviceBehaviors>
      <behavior name="">
        <serviceMetadata httpGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="true" />
      </behavior>
    </serviceBehaviors>
  </behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
    multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>



</configuration>
